body {
  max-width: 1200px;
  margin: auto;
  background-image: url("../images/bg.jpg");
}

h1 {
    display: flex;
    justify-content: center;
    color: #206414;
}

.galerie {
    display: flex;
    flex-wrap: wrap;
}

.galerie img {
    width: 150px;
    height: 150px;
    border: 1px solid white;
    margin: 0;
}

img:hover {
  transform: scale(1.5);
  transition: all 0.5s;
  animation: Tourne 1s;  
}

@keyframes Tourne {
  from {
    transform: rotate(0deg);
  }
  to {
    transform:rotate(360deg)  }
}